<style>
* {
    margin:0px;
    padding:0px;
}

form{
    width: 60%;
    margin: 50px auto;
    padding: 80px;
    border: 10px solid green;
    background: wheat;
	height : 50%;
    border-radius: 20px 20px 20px 20px;
}
.heading{
	text-align : center; 
	background-color : red;
	color : white;
	}
.error{
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}
.success{
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin: 20px;
}
</style>